<!DOCTYPE html>
<html lang="en">
<head>
    <title>Volunteer system login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pdfobject/2.0.201604172/pdfobject.min.js"></script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1><span class="glyphicon glyphicon-user"></span>Volunteer website</h1>
        <p>Login with:</p>
        <a href="/adminlogin" class="btn btn-default"><span class="fa fa-user"></span> Admin </a>
        <a href="/managerlogin" class="btn btn-default"><span class="fa fa-user"></span> Manager </a>
        <a href="/volunteerlogin" class="btn btn-default"><span class="fa fa-user"></span> Volunteer </a>
    </div>
<hr>
    <p><a href="/userManual">UserManual</a></p>
    <!--<div class="container" >-->
        <!--<p class="navbar-text">All services requests</p>-->
        <!--<div class="jumbotron text-center">-->
            <!--<table class="table table-hover">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>Title</th>-->
                    <!--<th>Date</th>-->
                    <!--<th>StartTime</th>-->
                    <!--<th>EndTime</th>-->
                    <!--<th>Location</th>-->
                    <!--<th>Need Volunteers</th>-->
                <!--</tr>-->
                <!--<tbody id="tbody-servieRequest">-->

                <!--</tbody>-->
                <!--</thead>-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->

</div>
</body>
</html>