<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pdfobject/2.0.201604172/pdfobject.min.js"></script>-->
    <title>User Manual</title>
</head>
<body>

<div id="pdf"><embed src="/UserManual.pdf" width=1340 height=1000 type ='application/pdf'></div>

<!--<script type="text/javascript">
    window.onload = function () {
        var success = new PDFObject({url: "/public/UserManual.pdf"}).embed("pdf");
    };
</script>-->
</body>
</html>